<div *ngIf="(ingredients$ | async) as ingredients" class="m-auto">
  <div class="row">
    <div class="col-sm-10">
      <h1>Ingrédients</h1>
    </div>

    <div class="col-sm-2 d-flex align-items-end">
      <button class="btn btn__add m-auto" data-bs-toggle="modal" data-bs-target="#addIngredientModal">ADD</button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nom:</th>
      <th>Unité de mesure:</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ingredient of ingredients">
      <td>{{ingredient.name}}</td>
      <td>{{ingredient.measureUnit}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="addIngredientModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="addIngredientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-add-ingredient></app-add-ingredient>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn__search" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
