<div class="col-9 m-auto">
  <h2>Ajouter une recette: </h2>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="name"
             required
             name="name"
             placeholder="Name"
             formControlName="name">
      <span class="text-danger" *ngIf="recipeForm.get('name').touched && !recipeForm.get('name').valid">
                    {{formsErrors.missingName}}
                </span>
    </div>

    <div class="form-group">
      <label for="measureUnit">Unité de mesure: </label>
      <select class="form-control" id="measureUnit"
              required
              name="measureUnit"
              formControlName="measureUnit">
        <option disabled>Select measure unit</option>
        <option *ngFor="let pow of categories.values()" [value]="pow">{{pow}}</option>
      </select>
      <span class="text-danger"
            *ngIf="recipeForm.get('measureUnit').touched && !recipeForm.get('measureUnit').valid">
                  {{formsErrors.missingMeasureUnit}}
                </span>
    </div>
    <label></label>
    <div class="form-group">
      <button class="form-control btn btn__add-object" type="submit" [disabled]="!recipeForm.valid">Ajouter</button>
    </div>
  </form>
</div>

