<div class="col-9 m-auto">
  <h2>Ajouter une recette: </h2>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

    <!--TITLE-->
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" class="form-control" id="title"
             required
             title="title"
             placeholder="Title"
             formControlName="title">
      <span class="text-danger" *ngIf="recipeForm.get('title').touched && !recipeForm.get('title').valid">
                    {{formsErrors.missingTitle}}
                </span>
    </div>

    <!--AUTHOR-->
    <div class="form-group">
      <label for="author">Auteur</label>
      <input type="text" class="form-control" id="author"
             required
             title="author"
             placeholder="Author"
             formControlName="author">
      <span class="text-danger" *ngIf="recipeForm.get('author').touched && !recipeForm.get('author').valid">
                    {{formsErrors.missingAuthor}}
                </span>
    </div>

    <!--CATEGORY-->
    <div class="form-group">
      <label for="category">Catégorie: </label>
      <select class="form-control" id="category"
              required
              name="category"
              formControlName="category">
        <option value="" disabled>Select measure unit</option>
        <option *ngFor="let category of categories.values()" [value]="category">{{category}}</option>
      </select>
      <span class="text-danger"
            *ngIf="recipeForm.get('category').touched && !recipeForm.get('category').valid">
                  {{formsErrors.missingCategory}}
                </span>
    </div>

    <!--DURATION-->
    <div class="form-group">
      <label for="duration">Durée: </label>
      <input type="number" class="form-control" id="duration"
             required
             title="duration"
             placeholder="0"
             formControlName="duration">
      <span class="text-danger" *ngIf="recipeForm.get('duration').touched && !recipeForm.get('duration').valid">
                    {{formsErrors.missingDuration}}
                </span>
    </div>

    <!--DIFFICULTY-->
    <div class="form-group">
      <label for="difficulty">Difficulté: </label>
      <select class="form-control" id="difficulty"
              required
              name="difficulty"
              formControlName="difficulty">
        <option value="" disabled>Select a difficulty level</option>
        <option *ngFor="let difficulty of difficulty.values()" [value]="difficulty">{{difficulty}}</option>
      </select>
      <span class="text-danger"
            *ngIf="recipeForm.get('difficulty').touched && !recipeForm.get('difficulty').valid">
                  {{formsErrors.missingDifficulty}}
                </span>
    </div>

    <!--PERSON-NUMBER-->
    <div class="form-group">
      <label for="personNumber">Nombre de personnes: </label>
      <input type="number" class="form-control" id="personNumber"
             required
             title="personNumber"
             placeholder="4"
             formControlName="personNumber">
      <span class="text-danger" *ngIf="recipeForm.get('personNumber').touched && !recipeForm.get('personNumber').valid">
                    {{formsErrors.missingPersonNumber}}
                </span>
    </div>

    <!--INGREDIENTS-->
    <div class="form-group">
      <app-ingredients-picker></app-ingredients-picker>
    </div>

<!--    <div class="form-group">-->
<!--      <label></label>-->
<!--      <button type="button" class="btn btn__add-ingredient" data-bs-toggle="modal" data-bs-target="#ingredientsModal" (click)="updateCheckboxes()">-->
<!--        Select ingredients-->
<!--      </button>-->
<!--      &lt;!&ndash;<span class="text-danger"-->
<!--            *ngIf="recipeForm.get('ingredients').touched && !recipeForm.get('ingredients').valid">-->
<!--                  {{formsErrors.missingDifficulty}}-->
<!--                </span>&ndash;&gt;-->
<!--    </div>-->

    <label></label>
    <div class="form-group">
      <button class="form-control btn btn__add-object" type="submit" [disabled]="!recipeForm.valid">Ajouter</button>
    </div>
  </form>
</div>

<!--MODAL INGREDIENTS-->
<div class="modal fade" id="ingredientsModal" tabindex="-1" role="dialog" aria-labelledby="ingredientsModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title title--small" id="exampleModalLongTitle">Select ingredients</h5>
        <button type="button" class="close btn__add" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!--<input class="input input&#45;&#45;search input&#45;&#45;wimg" placeholder="Search ..." type="search" [(ngModel)]="searchWord" (input)="search(searchWord)">-->

        <ul class="">
          <li class="" *ngFor="let ingredient of ingredients$ | async">
              <label class="" for="{{ingredient.name}}{{ingredient.id}}">
                <span class="">{{ingredient.name}}</span>
                <input [attr.data-user]="ingredient.id" type="checkbox" id="{{ingredient.name}}{{ingredient.id}}" name="ingredient" value="{{ingredient.name}}{{ingredient.id}}">
                <span class="checkmark"></span>
              </label>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn__add" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn__add" data-bs-dismiss="modal" (click)="submitIngredients()">Save</button>
      </div>
    </div>
  </div>
</div>
