

<ul>
  <li class="text" *ngFor="let item of ingredients | async">
    {{item.id}}
    {{item.name}}
    {{item.measureUnit}}
  </li>
</ul>

<ul>
  <li class="text" *ngFor="let recipe of recipes | async">
    {{recipe.id}}
    {{recipe.title}}
    {{recipe.author}}
    {{recipe.difficulty}}
    {{recipe.duration}}
    Ingredients:
    <ul>
      <ng-container *ngFor="let ingredient of recipe.ingredients">

          <li>{{ingredient["name"]}} - {{ingredient["quantity"]}}</li>

      </ng-container>
    </ul>
    <ul>
      <li *ngFor="let instruction of recipe.instructions">{{instruction}}</li>
    </ul>
  </li>
</ul>

<!--<div *ngIf="(users$ | async) as users">-->
<!--  <div *ngFor="let user of users">-->
<!--    <h3>{{user.name}}</h3>-->
<!--    <h4>{{user.email}}</h4>-->
<!--    <ul>-->
<!--      <li *ngFor="let recipe of u.recipes">{{recipe}}</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
